/*----------
 font styles
 --------- */
/* roboto font */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@700&family=DM+Serif+Text&family=Inter:wght@700&family=Love+Light&family=Open+Sans:wght@800&family=Poppins:wght@600&family=Roboto:wght@700&display=swap');

/* poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* inter font */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@700&family=DM+Serif+Text&family=Inter:wght@700&family=Love+Light&family=Open+Sans:wght@800&family=Poppins:wght@600&family=Roboto:wght@500&display=swap');

/* manrope font */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@700&family=DM+Serif+Text&family=Inter:wght@700&family=Love+Light&family=Manrope:wght@700&family=Open+Sans:wght@800&family=Poppins:wght@600&display=swap');

/*------------------------- 
influencer products & logos
------------------------ */
body{
    margin: 0px;
}
.first-container{
    margin: 80px;
    margin-right: 120px;
    margin-left: 120px;
}
.container{
    margin: 120px;
}
.influencer-products{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: rgba(58, 58, 58, 1);
    margin: 0px;
}
.navigation-links{
    display: flex;
    justify-content: space-between;
}
.links{
    text-decoration: none;
    margin-right: 34px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
}
.links-icon{
    width: 36px;
    height: 36px;
    margin-right: 34px;
    font-size: 25px;
    color: rgba(58, 58, 58, 1);
}
.links-icon-two{
    width: 36px;
    height: 36px;
    font-size: 25px;
    color: rgba(58, 58, 58, 1);
}
.influencer{
    display: flex;
    align-items: center;
}
.first-header{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    color: rgba(58, 58, 58, 1);
    margin: 0px;
}
.first-paragraph{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: rgba(58, 58, 58, 1);
    margin-top: 9px;
    margin-bottom: 30px;
}
.first-link{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 900;
    font-size: 16px;
    background-color: rgba(224, 44, 109, 1);
    color: rgba(255, 255, 255, 1);
    padding: 10px 24px;
    border-radius: 41px;
}
.fas{
    margin-left: 8px;
}
/*----
 logos
 ----*/
 hr{
     border: 1px solid rgb(228, 228, 228);
     margin: 35px;
 }
.logo-images{
    display: flex;
    justify-content: space-between;
}
/*------------------------
 popular collection styles
------------------------ */
.second-header{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'DM Serif Text', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Love Light', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    color: rgba(58, 58, 58, 1);
}
.popular-collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
    padding: 10px;
}
.popular-collections img{
    border-radius: 10px;
}
.popular-collection{
    align-items: center;
    box-shadow: 5px 7px 40px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}
.product-name{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'DM Serif Text', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Love Light', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: rgba(24, 25, 31, 1);
    margin-top: 14px;
    margin-bottom: 0px;
}
.product-price{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'DM Serif Text', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Love Light', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin: 10px;
}
.shipping-details{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'DM Serif Text', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Love Light', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgba(120, 120, 133, 1);
    margin-top: 10px;
}
.fas.fa-star{
    font-size: 10px;
    margin: 0px;
    color: rgba(251, 130, 0, 1)
}
span{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'DM Serif Text', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Love Light', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    Width: 29px;
    Height: 22px;
    color: rgba(94, 99, 102, 1);
    margin-left: 8px;
}
.fas.fa-star span{
    display: flex;
    justify-content: center;
}
.second-link{
    display: flex;
    justify-content: right;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgba(224, 44, 109, 0.87);
    margin-top: 40px;
}


footer{
    padding: 50px;
    background-color: rgb(10, 7, 39);
}
.footer-influencer-products{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 1);
    margin: 0px;
    
}
.footer-paragraph{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'DM Serif Text', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Love Light', cursive;
    font-family: 'Manrope', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: rgb(179, 198, 255);
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-top: 0px;
}
.footer-links{
    text-align: center;
}
.footer-links a{
    font-size: 20px;
    margin: 16px;
    padding: 3px;
    color: white;
}