/*----------
 font styles
 --------- */
/* roboto font */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@700&family=DM+Serif+Text&family=Inter:wght@700&family=Love+Light&family=Open+Sans:wght@800&family=Poppins:wght@600&family=Roboto:wght@700&display=swap');

/* poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* inter font */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@700&family=DM+Serif+Text&family=Inter:wght@700&family=Love+Light&family=Open+Sans:wght@800&family=Poppins:wght@600&family=Roboto:wght@500&display=swap');

/* manrope font */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@700&family=DM+Serif+Text&family=Inter:wght@700&family=Love+Light&family=Manrope:wght@700&family=Open+Sans:wght@800&family=Poppins:wght@600&display=swap');

/*------------------------- 
influencer products & logos
------------------------ */
body{
    margin: 0px;
}
.container{
    margin: 120px;
}
#header-container{
    margin: 80px;
    margin-right: 120px;
    margin-left: 120px;
}
#navigation-links{
    display: flex;
    justify-content: space-between;
}
.influencer-products{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: rgba(58, 58, 58, 1);
    margin: 0px;
}
.links{
    text-decoration: none;
    margin-right: 34px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
}
#links-icon-one{
    width: 36px;
    height: 36px;
    margin-right: 34px;
    font-size: 25px;
    color: rgba(58, 58, 58, 1);
}
#links-icon-two{
    width: 36px;
    height: 36px;
    font-size: 25px;
    color: rgba(58, 58, 58, 1);
}

/*--------------------
 influencer part style
 --------------------*/
#influencer{
    display: flex;
    align-items: center;
}
#influencer-header{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    color: rgba(58, 58, 58, 1);
    margin: 0px;
}
#influencer-paragraph{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: rgba(58, 58, 58, 1);
    margin-top: 9px;
    margin-bottom: 30px;
}
#influencer-link{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 900;
    font-size: 16px;
    background-color: rgb(0, 166, 255);
    color: rgba(255, 255, 255, 1);
    padding: 10px 24px;
    border-radius: 41px;
}
.fas.fa-arrow-right{
    margin-left: 8px;
}

/*----------
 logos style
 ----------*/
 hr{
     border: 1px solid rgb(228, 228, 228);
     margin: 35px;
 }
#logo-images{
    display: flex;
    justify-content: space-between;
}

/*------------------------
 popular collection styles
------------------------ */
#popular-collection-header{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'DM Serif Text', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Love Light', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    color: rgba(58, 58, 58, 1);
}
#popular-collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
    padding: 10px;
}
.popular-collection{
    align-items: center;
    box-shadow: 5px 7px 40px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    transition: transform 0.4s;
}
.popular-collection:hover {
    transform: scale(1.1);
    transition: transform 0.4s;
}
.popular-collections img{
    border-radius: 10px;
}
.product-name{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'DM Serif Text', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Love Light', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: rgba(24, 25, 31, 1);
    margin-top: 14px;
    margin-bottom: 0px;
}
.product-price{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'DM Serif Text', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Love Light', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin: 10px;
}
.fas.fa-star{
    font-size: 10px;
    margin: 0px;
    color: rgba(251, 130, 0, 1)
}
span{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'DM Serif Text', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Love Light', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    Width: 29px;
    Height: 22px;
    color: rgba(94, 99, 102, 1);
    margin-left: 8px;
}
.shipping-details{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'DM Serif Text', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Love Light', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgba(120, 120, 133, 1);
    margin-top: 10px;
}
#popular-collection-link{
    display: flex;
    justify-content: right;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 166, 255);
    margin-top: 40px;
}

/*-----------------
 payment part style
 ----------------*/
 #payment-part{
     border-radius: 10px;
     padding: 80px 40px;
 }
 #payment-part{
     display: flex;
     align-items: center;
     background-color: rgba(0, 89, 255, 0.247);
 }
 #payment-part img{
    height: 270px;
    width: 400px;
    margin-right: 80px;
    border-radius: 10px;
}
 #payment-part-header{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    margin: 0px;
 }
 #payment-part-paragraph{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: rgb(20, 180, 255);
 }

/*-----------
 footer style
 ----------*/
footer{
    padding: 50px;
    background-color: rgb(10, 7, 39);
}
#footer-header{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 1);
    margin: 0px;
}
#footer-paragraph{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'DM Serif Text', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Love Light', cursive;
    font-family: 'Manrope', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: rgb(196, 210, 255);
    text-align: center;
    font-size: 14px;
    margin-top: 0px;
}
#footer-links{
    text-align: center;
}
#footer-links a{
    font-size: 20px;
    margin: 16px;
    padding: 3px;
    color: white;
}
.fa-facebook{
    color: rgb(45, 98, 211);
}
.fa-twitter{
    color: rgb(8, 160, 233);
}
.fa-youtube{
    color: red;
}
/*------------
 Media Queries
------------ */
/*-------------
 mobile devices
 -------------*/
 @media only screen and (max-width:688px) {
     body{
         margin: 0px;
     }
     .container{
        width: 100%;
        margin: 0px;
    }
    #header-container{
        margin: 120px;
    }
    .links{
        display: none;
    }
    #links-icon-one, #links-icon-two{
        display: none;
    }
    .influencer-products{
        text-align: center;
        font-size: 40px;
    }
    #influencer{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        grid-template-columns: repeat(1, 1fr);
    }
    #influencer{
        text-align: center;
        margin-bottom: 45px;
    }
    #logo-images{
        display: none;
    }
    hr{
        display: none;
    }
    #popular-collections{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .popular-collection{
        padding-top: 40px;
    }
    #popular-collection-link{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    #payment-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        margin: 30px;
    }
    #payment-part img{
        margin: 0px;
        height: 202.5px;
        width: 300px;
    }
    #payment-part{
        padding: 40px 20px;
        text-align: center;
    }
}
/*------------
tablet devices 
 ------------*/
@media only screen and (min-width: 688px) and (max-width:
992px){
    body{
        margin: 0px;
    }
    .container{
        width: 100%;
        margin: 0px;
    }
    #navigation-links{
        display: inline;
        align-items: center;
    }
    .links{
        display: none;
    }
    #links-icon-one, #links-icon-two{
        display: none;
    }
    .influencer-products{
        text-align: center;
        font-size: 40px;
    }
    #influencer{
        display: flex;
        justify-content: space-between;
        margin: 30px;
    }
    #popular-collections{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
    }
    #popular-collection-link{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    #payment-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        margin: 30px;
    }
    #payment-part img{
        margin: 0px;
    }
    #payment-part{
        padding: 20px 10px;
        text-align: center;
    }
}